<h1>My Tasks</h1>

<% @tasks.each do |task| %>
  <li>
    <input type="checkbox" <%if task.completed%> checked <%end%> />
    <%= link_to task.title, task_path(task.id) %>
  </li>
<%end%>

<%= link_to "Add a task", new_task_path %>
